<div class="cgt-desc">
 <ul class="tabs clearfix">
 <li><a href="#tab-1" class="active">Description</a></li>
 <li><a href="#tab-2">review</a></li>
 
 </ul>
 <div class="cgt-content">
 <div id="tab-1" class="tab active">
 {{ product.description }}
 </div>
 <div id="tab-2" class="tab">
 Enter Size Chart Over here table, images, etc.
 </div>
 
 </div>
 </div>