.list-menu--right {
  right: 0;
}

.list-menu--disclosure {
  position: absolute;
  min-width: 100%;
  width: 20rem;
  border: 1px solid rgba(var(--color-foreground), 0.2);
}

.list-menu--disclosure:focus {
  outline: none;
}

.list-menu__item--active {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.list-menu__item--active:hover {
  text-decoration-thickness: 0.2rem;
}

.list-menu--disclosure.localization-selector {
  max-height: 18rem;
  overflow: auto;
  width: 10rem;
  padding: 0.5rem;
}
a.white-btn.button.button--primary {
    margin-left: 21px;
}
header.header.header--middle-left.page-width.header--has-menu {
    max-width: 1800px;
    width: 100%;
      padding: 0px;
}
a.header__menu-item.header__menu-item.list-menu__item.link.link--text.focus-inset {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}
span.header__active-menu-item {
    text-shadow: none;
    border-bottom: 3px solid #fff;
    padding-bottom: 5px;
    box-shadow: none;
    text-decoration: none;
}
a.header__menu-item.header__menu-item.list-menu__item.link.link--text.focus-inset:hover span{

 text-shadow: none;
    border-bottom: 3px solid #fff;
    padding-bottom: 5px;
    box-shadow: none;
    text-decoration: none;
}
ul.list-menu.list-menu--inline {
    margin-left: 7rem;
}