.full-width-wrap.fifty .imgae-wraps-out > div {
    width: 50%;
}
.section.double-image-wrap .image-with-text.page-width {
    max-width: 100%;
    padding: 0px;
}
.imgae-wraps-out {
    align-items: center;
}
.imgae-wraps-out .image-with-text__text-item.grid__item {
    width: 40%;
}
.imgae-wraps-out .image-with-text__text-item.grid__item .image-with-text__content {
    max-width: 500px;
    padding: 0px;
    margin: 0 auto;
      background: none !important;
    background-color: inherit !important;
}
.double-image-wrap .image-with-text__text.rte.body p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}

.imgae-wraps-out a.button.button--primary {
margin-left: auto;
    margin-right: auto;
margin-top: 14px;
}
.imgae-wraps-out .image-with-text__text.rte.body {
    text-align: center;
}
.imgae-wraps-out h4.image-with-text__heading.h4 {
    width: 100%;
    text-align: center;
}
.imgae-wraps-out .image-with-text__media {
    border: 0px;
}
.section.double-image-wrap .full-width-wrap.text-left .imgae-wraps-out .image-with-text__text-item.grid__item .image-with-text__content {
    max-width: 490px;
    text-align: left !important;
}
.section.double-image-wrap .full-width-wrap.text-left h4 {
    text-align: left;
    position: relative;
    padding-bottom: 5px;
}
.section.double-image-wrap .full-width-wrap.text-left .image-with-text__text.rte.body p {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    color: #1d1d1d;
    margin-bottom: 16px;
}
.section.double-image-wrap .full-width-wrap.text-left .imgae-wraps-out a.button.button--primary {
    margin-left: 0;
   
}


@media only screen and (max-width: 1200px) {
.double-image-wrap .image-with-text__text.rte.body {
    width: 100%;
}
 
}
@media only screen and (max-width: 1100px) {
.imgae-wraps-out .image-with-text__text-item.grid__item {
    width: 49.9%;
}
}

@media only screen and (max-width: 850px) {
.double-image-wrap .full-width-wrap .imgae-wraps-out a.button.button--primary {
    margin-top: 0px;
}
.double-image-wrap .full-width-wrap .image-with-text__text.rte.body {
    margin-top: 6px;
}
.double-image-wrap .full-width-wrap h4.image-with-text__heading.h4 br {
    display: none;
}
  .double-image-wrap .button.button--primary {
    font-size: 15px;
    padding: 10px 20px;
}
  .section.double-image-wrap .full-width-wrap.text-left .imgae-wraps-out .image-with-text__text-item.grid__item .image-with-text__content {
    width: 100%;
    padding-left: 14px;
    padding-right: 14px;
}
}