.three-column-product ul.grid.product-grid.grid--3-col-desktop .product-grid-li .card.card--standard.card--media {
    height: 500px;
   
}
.three-column-product a.view-allproduct {
    display: none;
}
.three-column-product ul.grid.product-grid.grid--3-col-desktop .card__content_bhover.card__inner.color-background-2.gradient.ratio {
    height: 500px;
}
.three-column-product ul.grid.product-grid.grid--3-col-desktop.grid--2-col-tablet-down .card__media {
    height: 500px;
}
.three-column-product ul.grid.product-grid.grid--3-col-desktop .card-wrapper.underline-links-hover {
    padding-left: 20px;
    padding-right: 20px;
}
.three-column-product ul.grid.product-grid.grid--3-col-desktop.grid--2-col-tablet-down .card-wrapper.underline-links-hover .card__content_ahover {
    transform: translate(0) translateY(200%);
}
.three-column-product ul.grid.product-grid.grid--3-col-desktop .product-grid-li .card-wrapper.underline-links-hover:hover .card__content_ahover {
    transform: none ;
}
.three-column-product ul.grid.product-grid.grid--3-col-desktop .product-grid-li .card__media, .card__content_bhover, .card__content_ahover {
    height: 500px;
}
.product-grid-li .card__content_hover {
  display: none;
}
.three-column-product .product-grid-li .card__media, .card__content_bhover, .three-column-product .product-grid-li .card__content_ahover {
    height: 500px;
}
li.product-grid-li.grid__item {
  padding-left: 6px;
  padding-right: 6px;
}
.grid-product-wrap {
  max-width: 1200px;
  padding: 0px;
}
.product-grid-li .card__content .card__information {
  display: block !important;
}
.product-grid-li .card__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-grid-li .card__content .card__information {
  display: flex !important;
  text-align: center;
  flex-direction: column;
}

.underline-links-hover .card__content_ahover {

  -webkit-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}
.underline-links-hover .card__content_bhover {

  -webkit-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}
.grid-product-col .collection__title {
    max-width: 1200px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}
.grid-product-col .collection__title h5.title.h5 {
    margin-bottom: 0px !important;
}
a.view-allproduct {
    font-size: 23px;
    line-height: 26px;
    text-decoration: none;
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
}
.product-grid-li .card__media {
  height: 280px;
}
.card__content_bhover {
  height: 280px;
}
.card__content_ahover {
  height: 280px;
}

.product-grid-li .card.card--standard.card--media {
  height: 280px;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 1000px;
  position: relative;
}

.card-wrapper.underline-links-hover .card__content_ahover {
  transform: translateX(0) translateY(100%);
}
.card-wrapper.underline-links-hover .card__content_bhover {
  transform: none;
}
.card-wrapper.underline-links-hover:hover .card__content_ahover {
  transform: none;
}
.card-wrapper.underline-links-hover:hover .card__content_bhover {
  transform: translateX(0) translateY(-100%);
}
.card__content_ahover, .card__content_bhover {
  position: absolute !important;

  backface-visibility: hidden;
}
span.caption-large.light.description {
  font-size: 21px;
  line-height: 32px !important;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
  font-family: var(--font-body-family);
    }
.product-grid-li h3.card__heading {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1.5px;
  font-family: var(--font-body-family);
    margin-bottom: 20px;
    text-transform: uppercase;
    }
a.grid-product-link {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.5px;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
  padding: 18px 30px;
  border-radius: 40px;
  text-transform: uppercase;
  font-family: var(--font-body-family);
    }
.product-grid-li .card-wrapper.underline-links-hover:hover a.grid-product-link:hover {
  border: 2px solid #000;
  color: #000;
  text-decoration: none;
}
.product-grid-li .card-wrapper.underline-links-hover:hover a.grid-product-link {
  text-decoration: none;
}
.card__content_bhover span.caption-large.light.description,  .card__content_bhover h3.card__heading{
  color: #fff;
}
.card__content_ahover span.caption-large.light.description,  .card__content_ahover h3.card__heading{
  color: #000;
}
.card__content_ahover a.grid-product-link {
    color: #000;
    border-color: #000;
}
.card__content_ahover a.grid-product-link:hover {
    color: #fff;
    border-color: #fff;
}
.product-grid-li .card-wrapper.underline-links-hover:hover  .card__content_ahover a.grid-product-link:hover {
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
}
@media only screen and (max-width: 1201px) {

.class-Name.top-product-hover > div {
    padding-left: 30px;
    padding-right: 30px;
}
}

@media only screen and (max-width: 1050px) {
ul.product-slider.product-sliders.slick-initialized.slick-slider.slick-dotted {
    padding-left: 0px;
}
}

@media only screen and (max-width: 850px) {
.class-Name.top-product-hover ul.grid.product-grid.contains-card {
    row-gap: 19px;
}
 .class-Name.top-product-hover slider-component.grid-product-wrap {
    padding-left: 0px;
    padding-right: 0px;
}
 .class-Name.top-product-hover .collection__title.title-wrapper.title-wrapper--no-top-margin.page-width {
    padding-left: 7px;
    padding-right: 12px;
}
  }

@media only screen and (max-width: 650px) {
.class-Name.top-product-hover>div {
    padding-left: 20px;
    padding-right: 20px;
}
  a.view-allproduct {
    font-size: 18px;
 }
  .collection .slider--tablet.product-grid {
    scroll-padding-left: 0rem !important;
}
  ul.grid.product-grid.contains-card.contains-card--standard.grid--4-col-desktop.grid--1-col-tablet-down.slider.slider--tablet.grid--peek li.product-grid-li.grid__item.slider__slide {
    width: 100%;
}
  ul.grid.product-grid.contains-card.contains-card--standard.grid--4-col-desktop.grid--1-col-tablet-down.slider.slider--tablet.grid--peek li.product-grid-li.grid__item.slider__slide .card-wrapper.underline-links-hover {
    border: 
}