.card__content_hover {
    display: none;
}
li.product-grid-li.grid__item {
    padding-left: 6px;
    padding-right: 6px;
}
.grid-product-wrap {
    max-width: 1200px;
    padding: 0px;
}
.product-grid-li .card__content .card__information {
    display: block !important;
}
.product-grid-li .card__content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-grid-li .card__content .card__information {
    display: flex !important;
    text-align: center;
    flex-direction: column;
}

.underline-links-hover:hover .card__content_ahover {
    display: flex !important;
   -webkit-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}
.underline-links-hover:hover .card__content_bhover {
    display: none !important;
}
.product-grid-li .card__media {
    height: 280px;
}
.card__content_bhover {
    height: 280px;
}
.card__content_ahover {
    height: 280px;
}
.card-wrapper.underline-links-hover .card__content_bhover {
    transform: translateX(0) translateY(-100%);
}
.card.card--standard.card--media {
    height: 280px;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 1000px;
    position: relative;
}
.card-wrapper.underline-links-hover .card__content_bhover {
    transform: translateX(0) translateY(-100%);
}
.card-wrapper.underline-links-hover .card__content_ahover {
    transform: none;
}
.card__content_ahover, .card__content_bhover {
    position: absolute !important;
  
    backface-visibility: hidden;
}