.card__content_hover {
    display: none;
}
li.product-grid-li.grid__item {
    padding-left: 6px;
    padding-right: 6px;
}
.grid-product-wrap {
    max-width: 1200px;
    padding: 0px;
}
.product-grid-li .card__content .card__information {
    display: block !important;
}
.product-grid-li .card__content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-grid-li .card__content .card__information {
    display: flex !important;
    text-align: center;
    flex-direction: column;
}
.card__content_ahover {
    display: none;
}
.underline-links-hover:hover .card__content_ahover {
    display: block !important;
}
.underline-links-hover:hover .card__content_bhover {
    display: none !important;
}
.product-grid-li .card__media {
    height: 280px;
}
.card__content_bhover {
    height: 280px;
}
.card__content_ahover {
    height: 280px;
}