.rich-text-list.double-richs.isolate .lsit-block span.border {
  
    width: 14rem!important;
   
}
.lsit-block .block-iner h5 {
    display: flex;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px;
    margin-bottom: 5px;
}
.lsit-block h5.h5 > span {
    width: auto;
    flex: 0 0 auto;
   
}
.lsit-block span.border {
    display: block;
    flex: 0 0 20px;
    height: 2px;
    
    width: 15rem !important;
    border-bottom: 1px dashed;
    align-self: center;
    margin: 0 10px;
}
.lsit-block .block-iner a {
    text-decoration: none;
}
.lsit-block .rich-text__text.rte.ptwo {
    font-size: 16px;
    line-height: 24px;
    color: #333;
}
.lsit-block .rich-text-right .block-iner {
    margin-bottom: 25px;
}
.rich-text__blocks.lsit-block {
    max-width: 107rem;
    display: flex;
    width:100%;
    align-items: center;
}
.lsit-block  .rich-text-left {
    text-align: right;
}
.lsit-block  .rich-text-right {
    text-align: left;
}
.lsit-block  .rich-text-left h1 {
    margin: 0px !important;
    margin-bottom: -7px !important;
}
.lsit-block  .rich-text-right {
    padding-left: 32px;
}
.lsit-block span.right-left-border {
    width: 54px;
    border-bottom: 3px solid #333333;
    height: 1px;
    display: block;
    margin-bottom: 33px;
}

.rich-text-list.double-richs.isolate .rich-text__blocks.lsit-block.heading {
    flex-direction: column;
    text-align: left;
    margin-bottom: 7.5rem;
      padding-left: 32px;
}
.rich-text-list.double-richs .rich-text-right.right-sections {
    margin-top: 0px;
}
.rich-text-list.double-richs .lsit-block span.right-left-border {
    
    margin-bottom: 14px;
}
.rich-list.double-rich.rich-text__blocks.lsit-block.heading {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.rich-list.double-rich .rich-text__blocks.lsit-block.heading h2, .rich-text__blocks.lsit-block.heading p {
    width: 100%;
    display: block;
}
.rich-text-list.double-richs.isolate .rich-text.content-container.bg-cream {
    padding-top: 13.9rem;
    padding-bottom: 8rem;
}
