ul.product-slider.product-sliders.slick-initialized.slick-slider.slick-dotted li.card-boxs.slick-slide .card__media {
    position: relative !important;
    padding: 0px !important;
}
ul.product-slider.product-sliders.slick-initialized.slick-slider.slick-dotted li.card-boxs.slick-slide .card__media {
    position: relative !important;
    padding: 0px !important;
}
ul.product-slider.product-sliders.slick-initialized.slick-slider.slick-dotted li.card-boxs.slick-slide .card__media img {
    position: relative;
    height: auto !important;
}
ul.product-slider.product-sliders.slick-initialized.slick-slider.slick-dotted li.card-boxs.slick-slide .card__media .media.media--transparent.media--hover-effect {
    position: relative;
}
ul.product-slider.slick-initialized.slick-slider.slick-dotted {
    list-style: none;
    padding-left: 0px;
}
section.shopify-section.section.product-slider-outer .page-width {
    max-width: 1920px;
    width: 100%;
    padding: 0px !important;
}
section.shopify-section.section.product-slider-outer .product-grid-heading {
    padding: 0 4% 0 3.9%;
    display: flex;
    justify-content: space-between;
}
section.shopify-section.section.product-slider-outer button.slick-arrow {
    position: absolute;
    top: 23%;
    background-color: #fff;
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0px;
    border-radius: 50%;
    z-index: 99;
  border: 1px solid #e5ced8 !important;
}
section.shopify-section.section.product-slider-outer button.slick-prev.slick-arrow {
    left: 3%;
}
section.shopify-section.section.product-slider-outer button.slick-next.slick-arrow {
    right: 3%;
}
 section.shopify-section.section.product-slider-outer .product-grid-heading h5 {
    margin: 0px !important;
}
.hover-cart .card__content {
    display: flex;
    justify-content: space-between;
    width: 317px;
}
ul.slick-dots {
    display: flex;
    justify-content: center;
}
ul.slick-dots li {
    flex: 0 0 150px;
    background: #000;
    font-size: 0px;
    height: 3px;
    margin: 0 2px;
    cursor: pointer;
}
ul.slick-dots li button {
    font-size: 0px;
    border: none;
    padding: 0px;
}
ul.slick-dots li.slick-active {
    flex: 0 0 20px;
    background: #ccc;
}
ul.product-slider .slick-list.draggable {
    overflow: hidden;
    display: block;
    margin-bottom: 35px;
}
ul.product-slider .slick-list.draggable .slick-track {
    display: flex;
    column-gap: 34px;
 
}
ul.product-slider.slick-initialized.slick-slider.slick-dotted {
    list-style: none;
}

  ul.product-slider .quick-add__submit span {
    font-size: 0px;
}
.hover-cart button.quick-add__submit {
    background: url(https://cdn.shopify.com/s/files/1/0637/4529/4571/files/shopping-cart_2.png?v=1650128982);
    background-repeat: no-repeat;
     width: 35px;
  min-height: 35px;
    height: 35px;
    background-color: #eedbcb;
    background-position: center center;
    background-size: 18px auto;
    border-radius: 3px;
}
.hover-cart button.quick-view span {
    font-size: 0px;
}
.hover-cart button.quick-view {
    background: url(https://cdn.shopify.com/s/files/1/0637/4529/4571/files/view_1.png?v=1650129407);
    background-repeat: no-repeat;
    background-size: 18px auto;
    border-radius: 3px;
 font-size: 0px;
  min-height: 35px;
     width: 35px;
    height: 35px;
    background-color: #eedbcb;
    background-position: center center;
}
.hover-cart .product-links a {
    background: url(https://cdn.shopify.com/s/files/1/0637/4529/4571/files/link_1.png?v=1650129406);
    background-repeat: no-repeat;
   background-size: 18px auto;
    border-radius: 3px;
 font-size: 0px;
     width: 35px;
    height: 35px;
  min-height: 35px;
    background-color: #eedbcb;
    background-position: center center;
}
.card.card--standard.card--media .hover-cart {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -16px;
}
.hover-cart {
    display: block;
    margin: 0 auto;
}
.hover-cart {
    display: block;
    margin: 0 auto;
}
.hover-cart button.choose-option {
   font-size: 0px;
}
.hover-cart .card__content {
    display: flex;
    column-gap: 6px;
    justify-content: space-between;
    width: 140px;
    text-align: center;
    margin: 0 auto;
}
.section.product-slider-outer .color-.isolate.gradient {
    background: #faf7f5;
    padding-top: 52px;
    padding-bottom: 62px;
}
.hover-cart {
    display: none;
}
.card-wrapper.underline-links-hover:hover .hover-cart {
    display: block;
}
ul.product-slider .card-wrapper .media.media--transparent img.motion-reduce {
    border-radius: 20px 20px 0 0;
}
.card-wrapper.underline-links-hover:hover img.motion-reduce {
   
    transform: scale(1) !important;
}

ul.product-slider h6.card__heading.h6 {
    color: #1d1d1d;
    margin-bottom: 8px;
}

element.style {
}
.card-wrapper.underline-links-hover {
    border: 1px solid rgb(238, 238, 238);
    border-radius: 30px;
  cursor: pointer;
}
.card.card--standard.card--media .card__content {
    padding: 0 15px 35px!important;
}
ul.product-slider span.caption-large.light.description {
    font-size: 16px;
    line-height: 24px!important;
    letter-spacing: normal;
    margin-bottom: 20px;
    font-family: var(--font-body-family);
}
ul.product-slider .price__regular {
    font-size: 21px;
    font-weight: 400;
    line-height: 31px;
    color: #000;
font-family: var(--font-heading-familyf);
}



 

  ul.product-slider.collection-page .card-wrapper.underline-links-hover {
    border: 1px solid rgb(238,238,238);
    border-radius: 0px;
    cursor: pointer;
    padding: 25px;
}
ul.product-slider .card-wrapper .media.media--transparent img.motion-reduce {
    border-radius: 0;
}
ul.product-slider.collection-page .card.card--standard.card--media .card__content {
    padding: 0 15px 0px!important;
}
ul.product-slider.collection-page li.grid__item {
    padding: 8px;
}
ul.product-slider.collection-page .card__information .card-information span.caption-large.light.description {
    display: none;
}
ul.product-slider.collection-page .card-information {
    text-align: center;
}
ul.product-slider.collection-page .card.card--standard.card--media .card__content {
    padding: 0 15px 0px!important;
    text-align: center;
}



ul.product-slider.slick-initialized.slick-slider.slick-dotted .card__inner.color-background-2 {
    --ratio-percent: 61.545455% !important;
}
 @media only screen and (max-width: 1100px) {
  section.shopify-section.section.product-slider-outer .product-grid-heading {
    padding: 0 30px 0 30px;
   
}
  ul.slick-dots li {
    flex: 0 0 130px;
    
}
}
  @media only screen and (max-width: 850px) {
  ul.slick-dots li {
    flex: 0 0 50px;
}
    @media only screen and (max-width: 650px) {
  ul.slick-dots li {
    flex: 0 0 30px;
}
      ul.product-slider .slick-list.draggable .slick-track {
   
    column-gap: 0px;
}
      section.shopify-section.section.product-slider-outer button.slick-prev.slick-arrow {
    left: 6px;
}
      section.shopify-section.section.product-slider-outer button.slick-next.slick-arrow {
    right: 6px;
}
      section.shopify-section.section.product-slider-outer .product-grid-heading {
    padding: 0 4px 0 2px;
}
      
    }
    
    