.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}
h4.address-bar.h4 {
    margin: 18px 0px 18px;
}
.address-text.pone p {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    line-height: 24px;
    color: #1d1d1d;
}
.contact-wrap {
    display: flex;
}
.form-box {
    flex: 0 0 60%;
    max-width: 60%;
    padding: 25px 10px 40px 80px;
    border-left: 2px solid #000;
}
.contact-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.address-box{
    flex: 0 0 40%;
   padding: 25px 10px 40px 10px;
   
    max-width: 40%;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 2rem;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}
