p.testimonial-cont {
    color: #333333;
    font-family: "Avenir Next", Sans-serif;
    font-size: 31px;
    font-weight: 400;
    font-style: normal;
line-height: 1.5;
    margin-bottom: 0px;
text-align: center;
}
p.testimonial-write{
color: #333333;
    font-family: "Americana", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 11px;
    letter-spacing: 1.5px;
text-align: center;
}
ul.logo-box.testimonial-slider.slick-initialized.slick-slider {
    max-width: 815px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
ul.logo-box.testimonial-slider ul.slick-dots li.slick-active {
    flex: 0 0 10px;
    background: #333;
opacity: 1;
}
ul.logo-box.testimonial-slider ul.slick-dots li {
    flex: 0 0 10px;
    background: #000;
    font-size: 0px;
    height: 10px;
    margin: 0 6px;
    cursor: pointer;
    border-radius: 100%;
opacity: .2;
}