.video-sections.image-with-text .image-with-text__content {
    padding: 30px;
}
.video-sections.image-with-text .image-with-text__text-item.grid__item {
    width: 34%;
    padding: 30px;
}
.video-sections.image-with-text .image-with-text__content {
    background: none;
padding: 0px !important;
}
.video-sections.image-with-text .pone.image-with-text__text {
    line-height: 24px;
    color: #333;
}
.video-section-about {
    PADDING: 30PX;
}
.video-sections.image-with-text .image-with-text__grid {
    align-content: center;
    align-items: center;
}

@media screen and (max-width: 1050px) {
.video-sections.image-with-text .image-with-text__text-item.grid__item {
    width: 50%;
    padding: 15px;
}
}